.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #0f0f0f;
  max-height: max-content;
  color: #fff;
  border: #61dafb;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #3fadb5;
} 

.btn2 {
  background-color: #ff0000;
  max-height: max-content;
  margin: 10px;
  color: #fff;
  border: #61dafb;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn2:hover {
  background-color: #3fadb5;
} 

.red1 {
  background-color: #ff0000;
}

.blue {
  background-color: #35C0F0;
}

.green {
  background-color: #0ec00e;
}

.about {
  font-size: 25px;
  font-weight: bold;
}

.yes {
  font-size: 50px;
  font-weight: bold;
}

.small {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  text-align: text-bottom;
  background-color: #282c34;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
  background: #121212;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #35C0F0;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Home {
  background-color: #282c34;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.red {
  background-color: #282c34;
  color: rgb(241, 14, 14);
  font-size: 25px;
  font-weight: bold;
}